.experience-wrapper {
  padding: 1rem;
  font-size: 1.2rem;
}

.experience-header-text {
  color: var(--color-darkblue);
  text-transform: uppercase;
}

.company-name {
  font-size: 2rem;
  color: var(--color-red);
  font-weight: 500;
}

.exp-info, .work-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  font-style: italic;
}

.work-wrapper {
  padding: 0 0.5rem;
  /* border-left: 0.2rem solid var(--color-red); */
  margin: 1rem 0;
}

.work-role {
  color: var(--color-red);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
}

.work-desc {
  list-style: square;
  padding-left: 1.5rem;
}

.work-desc ::marker {
  color: var(--color-red);
}

.projects {
  padding-left: 2rem;
}

.project {
  margin: 0.5rem 0;
}

.projects ul ::marker {
  color: var(--color-red);
  font-size: 2rem;
}

.project-name {
  position: relative;
  font-size: 1.4rem;
  font-weight: 500;
  top: -0.3rem;
}

.project-technologies {
  font-style: italic;
  display: flex;
}

.project-technologies-label {
  color: var(--color-darkblue);
  min-width: 10rem;
  width: 100%;
  max-width: 10rem;
}

.project-technologies-values {
  color: var(--color-red);
  margin-left: 0.5rem;
  font-style: normal;  
}

.responsibilties {
  list-style: square;
  padding-left: 2rem;
}

.responsibilties ::marker {
  font-size: 1.3rem !important;
}
