.wrapper {
  margin: 1rem auto;
  border: 1px solid #444;
  position: relative;
}

.wrapper.size-A4 {
  width: 793.7007874px;
  height: 1122.519685px;
}

.wrapper.height-auto {
  height: auto;
}

._header {
  background: var(--color-grayblue);
  color: var(--color-white, #fff);
}

.sections {
  display: flex;
  justify-content: space-between;
}

.left-section {
  flex: 3;
}

.right-section {
  flex: 2;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: var(--color-darkblue);
  padding: 0.4rem 1rem;
  color: var(--color-white);
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

.footer-link a:hover {
  color: var(--color-red);
}
