body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* reset margin and providing border-box through out the application */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 10px;
  --color-red: #f35a4d;
  --color-grayblue: #253c5d;
  --color-white: #fff;
  --color-link: #ddd;
  --color-darkblue: #121d2e;
}

a {
  color: var(--color-link);
  text-decoration: none;
  cursor: pointer;
}

a:visited, a:active, a:hover {
  color: var(--color-link);
}

a:hover {
  color: var(--color-white);
}

h1 { font-size: 3rem; }
h2 { font-size: 2.6rem; }
h3 { font-size: 2.2rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1rem; }

small {
  font-size: 1.2rem;
}
